@tailwind base;
@tailwind components;
@tailwind utilities;
/* globaly can use this two classes for parent and children hover effect  */
.blackOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hoverParent:hover .blackOverlay {
  opacity: 1;
}
