@tailwind base;
@tailwind components;
@tailwind utilities;
/* globaly can use this two classes for parent and children hover effect  */
.blackOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hoverParent:hover .blackOverlay {
  opacity: 1;
}
body {
  min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: max-content; */
}
/* اسکرول‌بار در کل صفحه */
body::-webkit-scrollbar {
  width: 8px; /* عرض اسکرول‌بار */
  height: 8px; /* ارتفاع اسکرول‌بار */
}

body::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5); /* رنگ خاکستری و شفاف */
  border-radius: 4px; /* گوشه‌های گرد */
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8); /* رنگ تیره‌تر هنگام هاور */
}

body::-webkit-scrollbar-track {
  background: transparent; /* پس‌زمینه محو */
}

/* حذف دکمه‌های اسکرول */
body::-webkit-scrollbar-button {
  display: none; /* پنهان کردن دکمه‌ها */
}
